<div class="row">
  <h1><%= @pet.name %></h1>
  <p><%= @pet.address %></p>
  <p><%= @pet.category %></p>
<ul class="list-inline">
  <li><%= link_to "Edit", edit_pet_path(@pet) %></li>
  <li><%= link_to "Back", pets_path %></li>
  </ul>
</div>
